/home/axsae/Documents/coding_projects/git/dissonance-discord/dissonance-discord/bih-sniper/node_modules/**

/home/axsae/Documents/coding_projects/git/dissonance-discord/dissonance-discord/bih-sniper/config.json

dissonance-discord/bih-sniper/config.json


dissonance-discord/bih-sniper/.env
/home/axsae/Documents/coding_projects/git/dissonance-discord/dissonance-discord/bih-sniper/.env
